<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index Page</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'dis_ninjas/css/style.css' %}">
  <script src="{% static 'dis_ninjas/js/main.js' %}" > </script>
</head>
<body>
  <h1>No ninjas here</h1>
  <div class="line"><span class="text html basic"><span>{{somekey}}</span></span></div>
</body>
</html>
