<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>
<body>
  <div id="container">

    <form action='/process' method='post'>
      {% csrf_token %}
      Your Name: <input type='text' name='name'>
      Dojo Location: <select name='dojo'>
        <option value="" selected="selected">Please select a location</option>
        <option value="Bellevue">Bellevue</option>
        <option value="Chicago">Chicago</option>
      </select>
      Favorite Language: <select name='favorite'>
        <option value="" selected="selected">Please select a language</option>
        <option value="Python">Python</option>
        <option value="HTML">HTML</option>
      </select>
      Comment (optional): <textarea name='comment' id='comment' cols='25' rows='5'></textarea>
      <input type='submit' value='Submit'>
    </form>

  </div>
</body>
</html>
